html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*
 * only untill auth is implemented
*/
.MuiAppBar-positionFixed {
  top: 40px !important;
}
